.widgetsDescriptionItem-container {
    width: 65%;
    margin: 50px auto;
}

@media only screen and (max-width: 770px) {
    .widgetsDescriptionItem-container {
        text-align: justify;
        width: 100%;
        border: none;
        padding: 30px;
    }


}